h1{
    color:rgb(56, 2, 105);
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline black;
    
}

h2{
    color:darkviolet
}

h4{
    color:rgb(2, 80, 110);
    text-decoration: underline black;
}

