h1{
    color:rgb(56, 2, 105);
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline black;   
}

h4{
    color:darkviolet;
}

a{
    color:cadetblue;
    font-weight:bolder;
    font-style:italic;
}